<ion-view view-title="Login">
  <ion-content class="padding">
    <img src="{{img}}" alt="" width="100" />
    <button type="button" class="button button-positive button-block" ng-click="doLogin()">Entrar com Facebook</button>
    <button type="button" class="button button-assertive button-block" ng-click="doLogout()">Sair</button>
    <button type="button" class="button button-assertive button-block" ng-click="doToast()">Toast</button>
	<a
    	href="#/app/simple-login"
    	class="button button-royal button-block">
    	Login
    </a>
    <a
    	href="#/app/criar-conta"
    	class="button button-stable button-block">
    	Criar Conta
    </a>
  </ion-content>
</ion-view>
