/*MSG*/
$msg-bubble-color: #2980b9;
$msg-bubble-font-color: #FFF;
$msg-bubble-color-sender: #ecf0f1;
$msg-bubble-font-color-sender: rgba(#000, .9);
$msg-bubble-padding: 0px;
$msg-bubble-border-radius: 4px;